name: CD

on:
  workflow_run:
    workflows: [CI]
    types:
      - completed

jobs:
  cd:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Pull with compose
        run: docker compose pull
      -
        name: Run tests
        env: 
          HOST: ${{ secrets.HOST }}
          PORT: ${{ secrets.PORT }}
          DBNAME: ${{ secrets.DBNAME }}
          USER: ${{ secrets.USER }}
          PASSWORD: ${{ secrets.PASSWORD }}
        run: docker compose up --abort-on-container-exit